<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <button id="back"   onclick="window.location.href='/home'">
          <i class="material-icons" style="font-size:35px;color:white">arrow_back</i>
        </button>
      </ion-buttons>
      <ion-title>Formulario</ion-title>
    </ion-toolbar>
  </ion-header>
   
  <ion-content padding>
    <ion-list lines="full">
            
      <ion-item hidden>
        <ion-input id="s" required type="text"  [(ngModel)]="todo.latitude"></ion-input>
      </ion-item>
            
      <ion-item hidden>
        <ion-input required type="text"  [(ngModel)]="todo.longitude"></ion-input>
      </ion-item>

      <ion-item hidden>
        <ion-input required type="text"  [(ngModel)]="todo.Tipo"></ion-input>
      </ion-item>
      <!--Huellas-->
      <ion-item [hidden]="todo.Tipo == 1 || todo.Tipo == 2 || todo.Tipo == 3">
          <p>Dirreccion:</p>
          <hr>
          <ion-input required type="text" placeholder="Direccion" [(ngModel)]="todo.direccion"></ion-input>
        </ion-item>
        <ion-item [hidden]="todo.Tipo == 2 || todo.Tipo == 3">
            <p>Especies:</p>
            <br>
            <ion-input required type="text" placeholder="Especie" [(ngModel)]="todo.especie"></ion-input>
          </ion-item>
          <ion-item [hidden]="todo.Tipo == 1 || todo.Tipo == 2 || todo.Tipo == 3">
              <p>Tamaño:</p>
              <br>
              <ion-input required type="text" placeholder="Tamaño" [(ngModel)]="todo.tamano"></ion-input>
            </ion-item>
            <ion-item [hidden]="todo.Tipo == 1 || todo.Tipo == 2 || todo.Tipo == 3">
                <p>Velocidad estimada:</p>
                <br>
                <ion-input required type="text" placeholder="Velocidad estimada" [(ngModel)]="todo.velocidad_estimada"></ion-input>
              </ion-item>
              <ion-item [hidden]="todo.Tipo == 1 || todo.Tipo == 2 || todo.Tipo == 3">
                  <p>Peso estimado:</p>
                  <br>
                  <ion-input required type="text" placeholder="Peso Estimado" [(ngModel)]="todo.peso_estimado"></ion-input>
                </ion-item>
                <ion-item [hidden]="todo.Tipo == 1 || todo.Tipo == 2 || todo.Tipo == 3">
                    <p>Sustrato:</p>
                    <br>
                    <ion-input required type="text" placeholder="Sustrato" [(ngModel)]="todo.sustrato"></ion-input>
                  </ion-item>
                  <ion-item [hidden]="todo.Tipo == 3">
                      <p>Obserbaciones:</p>
                      <br>
                      <ion-input required type="text" placeholder="Obserbaciones" [(ngModel)]="todo.obserbaciones"></ion-input>
                    </ion-item>
                    <!--Heces-->
                    <ion-item [hidden]="todo.Tipo == 0 || todo.Tipo == 3">
                      <p>Medidas:</p>
                      <br>
                      <ion-input required type="text" placeholder="Medidas" [(ngModel)]="todo.Medidas"></ion-input>
                    </ion-item>
                    <ion-item [hidden]="todo.Tipo == 0 || todo.Tipo == 2 || todo.Tipo == 3">
                      <p>Tiempo estimado:</p>
                      <br>
                      <ion-input required type="text" placeholder="Tiempo estimado" [(ngModel)]="todo.tiempo_estimado"></ion-input>
                    </ion-item>
                    <!--Observaciones -->
                    
                    <!--Arañazos-->
                    <!--Especie
                    Medidas -->
                    <ion-item [hidden]="todo.Tipo == 0 || todo.Tipo == 1 || todo.Tipo == 3">
                      <p>Superficie:</p>
                      <br>
                      <ion-input required type="text" placeholder="Superficie" [(ngModel)]="todo.Superficie"></ion-input>
                    </ion-item>
                    <!--Otros-->
                    <ion-item [hidden]="todo.Tipo == 0 || todo.Tipo == 1 || todo.Tipo == 2">
                      <p>General:</p>
                      <br>
                      <ion-input required type="text" placeholder="General" [(ngModel)]="todo.General"></ion-input>
                    </ion-item>

                
      
    </ion-list>
    <ion-button  expand="full" (click)="saveTodo() ">Guardar</ion-button>
  </ion-content>
